.App {
  text-align: center;
}
.headTB{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}
.imgCard{
  width: 60px;
}
.btn-delete{
  padding: 2px 5px;
  margin: 20px 0px;
  background-color: rgb(202, 110, 110);
  border-radius: 30%;
}
.addSortButtons{
  display: flex;
  justify-content: space-evenly;
}